@charset "utf-8";
        
html {
     font-size: 100%;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.2;
    
}

a {
    text-decoration: none;
}

/*-----以上為共同屬性-----*/

form {
    border: 1px solid;
    border-radius: 5px;
    margin: 5% auto auto;
    width: 35%;
    display: flex;
    flex-direction: column;

}

#title {
    display: flex;
    flex-direction:column;
    margin: 5% auto 3%;
}

#enTitle {
    font-size: 2.1rem;
    text-align: center;
    font-weight: lighter;
    font-family: 'Shalimar', cursive;
}

#chTitle, #memberTitle {
    font-size: 1.8rem;
    text-align: center;
    font-weight: lighter;
}

.block {
    font-size: 1.5rem;
    height: 2rem;
    width: 70%;
    margin: 3.5% auto;
}

#meatActor {
    width: 28%;
    margin: 0 10% 10%;
}

#middle {
    display: flex;
    gap: 5%;

}

#memberTitle {
	font-size: 1.6rem;
    border: 2px solid;
    border-color: orange;
    margin: 5% auto 25%;
}

#login {
    width: 20%;
    height: 10%;
    font-size: 1.8rem;
    color: #fff;
    border-radius: 5px;
    background-color: orange;
    margin: 3% auto 3%;
}

#login:hover {
    color: black;
}

#memberHref, #indexHref {
    font-size: 1.3rem;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

#memberHref {
    margin-left: 3%;
}

#indexHref {
    margin-right: 3%;
}

#error {
	color:red; 
	font-size: 1.35rem; 
	margin: 0 auto;
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: #000;
}
