<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BM02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.backymeter.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FoodStuffServlet</servlet-name>
    <servlet-class>com.backymeter.web.FoodStuffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodStuffServlet</servlet-name>
    <url-pattern>/manager/foodStuffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientFoodStuffServlet</servlet-name>
    <servlet-class>com.backymeter.web.ClientFoodStuffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFoodStuffServlet</servlet-name>
    <url-pattern>/client/foodStuffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.backymeter.web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.backymeter.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.backymeter.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/pages/manager/*</url-pattern>
    <url-pattern>/pages/common/manager_menu.jsp</url-pattern>
    <url-pattern>/pages/order/manager_order.jsp</url-pattern>
    <url-pattern>/manager/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>com.backymeter.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/error/error500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/error/error404.jsp</location>
  </error-page>
</web-app>